<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAU_UwUUSTMsq0erLHZKgBS-cpa8H1Iuek</string>
	<key>GCM_SENDER_ID</key>
	<string>620727561692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.baseTodolist</string>
	<key>PROJECT_ID</key>
	<string>to-do-list-6da7b</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-list-6da7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620727561692:ios:451abc70515ea2e480f319</string>
</dict>
</plist>